@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2f2;
  --foreground: #050505;
  --accent: #eb4034;
  --muted: #888;
  --card-background: #ffffff;

  --spacing-unit: 8px;
  --container-width: 1400px;
}

[data-theme='dark'] {
  --background: #050505;
  --foreground: #f2f2f2;
  --accent: #eb4034;
  --muted: #888;
  --card-background: #1a1a1a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-scope);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-scope);
  font-weight: 400;
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

/* Utilities */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 calc(var(--spacing-unit) * 3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

[data-theme='light'] .main-nav {
  /* background-color: var(--background); */
  color: black;
}

[data-theme='dark'] .main-nav {
  /* background-color: var(--background); */
  color: white;
}
