.main {
  min-height: 100vh;
  padding-bottom: 10rem;
}

.gridContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
    display: grid;
    gap: 0px 4vw;
    padding: 0px 5vw;
}

/* Offset every second item for a staggered look */
.gridContainer>div:nth-child(even) {
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .gridContainer>div:nth-child(even) {
    margin-top: 0;
  }
}