.main {
  min-height: 100vh;
  padding-bottom: 10rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-unit);
    margin-top: 10vh;
}

/* Offset every second item for a staggered look */
.gridContainer>div:nth-child(even) {
  margin-top: 4vw; /* Changed from 10vh to 4vw */
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .gridContainer>div:nth-child(even) {
    margin-top: 0;
  }
}