.main {
  min-height: 100vh;
  padding-bottom: 10rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0 4vw;
}

/* Offset every second item for a staggered look */
.gridContainer>div:nth-child(even) {
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .gridContainer>div:nth-child(even) {
    margin-top: 0;
  }
}