.toggleButton {
  background: transparent;
  border: none;
  cursor: pointer;
  mix-blend-mode: normal;
  padding: 0;
  line-height: 1;
}

.icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

.lightIcon {
  color: black;
}

.darkIcon {
  color: white;
}